<head>
    <title>{{ if eq .IsHome true }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
    <meta name="description" content="{{ if ne .Description "" }}{{ .Description }}{{ else }}{{ .Site.Params.description }}{{ end }}">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Sergio Carlavilla's Website">
    <meta name="author" content="Sergio Carlavilla">
    <meta name="robots" content="noarchive">
    <meta name="referrer" content="no-referrer">
    <link rel="canonical" href="{{ .Permalink }}">
    <link rel="icon" href="{{ .Site.BaseURL }}favicon.ico">
    {{- $styles := resources.Get "styles/main.css" | resources.Minify }}
    <link rel="stylesheet" href="{{ $styles.Permalink }}">
</head>
